<h1> Sobre el cómic </h1>
<hr>
<p class="text-justify">
    Es común asociar con superhéroes el término "cómic", aunque actualmente se emplea como un medio de expresión
    artística, debido a lo cual resulta claro que presenta variedad de contenido. Sin embargo, el género asociado
    con ellos catapultó el éxito de los cómics, comenzando con la icónica portada de Superman levantando un coche,
    introducido en el número uno de Action Comics en 1938. Asimismo, podemos mencionar a héroes sin capa, como
    Phantom o Popeye, quienes aparecieron en tiras de periódico mucho antes que El Hombre de Acero.
</p>

<p class="text-justify">
    Personajes como Superman, Batman, Capitán Marvel, Mujer Maravilla y el Capitán América surgieron en la Edad de
    Oro (1938-1950), ubicada entre la Gran Depresión y la Segunda Guerra Mundial. Después, en la Edad de Plata 
    (1956-1970), DC empezó a popularizar varios de sus superhéroes, como Flash o Linterna Verde. Luego Marvel 
    introdujo personajes de mayor complejidad y desarrollo, como Spider-Man, Los Cuatro Fantásticos, Hulk, X-Men o Iron Man.
</p>

<p class="text-justify mb-4">
    Durante la Edad de Bronce (1970-1985), los superhéroes se convirtieron en figuras más políticas y sociales,
    gracias a lo cual historias como las de Denny O'Neil y Neal Adams en la serie Green Lantern/Green Arrow o 
    la etapa de Steve Englehart a cargo de Capitán América reflejan descontentos del pueblo americano. Por último, 
    en la Edad Moderna (1985-presente) la figura del superhéroe fue deconstruida, inspirando así a muchos
    autores de la correspondiente generación y construyendo una fórmula que los cómics actuales incluyen en su 
    estructura.
</p>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="../../assets/img/comic.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
        </div>
    </div>
</div>