<h1> Sobre el cómic </h1>
<hr>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit modi quae natus consequatur provident ea. Illum iusto, magnam animi incidunt unde optio ea alias quae aspernatur laudantium dolor velit?
    Magni, enim? Dolor eius nihil saepe ea consequatur voluptate, blanditiis laboriosam corporis neque veniam, commodi quae hic nulla earum doloremque dicta nam, aliquam ullam dolores perferendis excepturi nostrum alias maiores.
    Quis quas illo cum fugit sit, ipsa officia unde! Delectus reprehenderit nulla, mollitia maiores odio quaerat architecto recusandae repudiandae ab minima. Magnam autem voluptatem ab quis architecto inventore consequuntur id!
    Veniam ipsam architecto animi porro sed sit, libero ad impedit deserunt earum. Distinctio cum animi dignissimos consequatur ullam unde, nobis eveniet a nulla quaerat modi facere odit soluta, mollitia in?
    Consequatur, accusamus cupiditate ipsa aut fugit voluptatibus corporis. Illo beatae odit exercitationem sunt ut. Esse praesentium iste harum quod minus quisquam, quia deserunt, animi, aliquid vero quam totam alias hic.
</p>
