<div class="row">    
    <div class="col-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina1.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina2.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina3.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina4.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina5.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina6.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina7.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina8.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina9.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4">
        <img src="../../assets/img/pagina10.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6 mb-4 mb-md-0">
        <img src="../../assets/img/pagina11.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>

    <div class="col-sm-12 col-md-6">
        <img src="../../assets/img/pagina12.jpg" alt="Imagen sobre Marvel" class="img-fluid img-thumbnail">
    </div>
</div>